.footerSection{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    color: #264653;
    margin-top: 15vh;
}

.fSA{
    display: flex;
    justify-content: space-evenly;
    width: 45vw;
    border-right: 1px solid #264653;
}

.socials{
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.social{
    display: flex;
    justify-content: space-evenly;
}

.estd{
    width: 10vw;
    margin: 4vw;
}

.fSB{
    width: 45vw;
    display: flex;
    justify-content: space-around;
}

.fSB p{
    font-size: 1.5vw;
    font-weight: 400;
}

.usefulLink, .reachUs{
    font-size: 1.8vw;
}

i{
    transform: scale(1.5);
    color: #264653;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-bottom: 0px;
}

.footer p{
    font-size: 1.2vw;
}