*{
    color: rgb(3, 37, 65);
}

.contentBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 55vh;
}

.typeSec{
    display: flex;
    align-items: center;
    margin-left: 3vw;
}

.type{
    margin-inline: 2vw;
}

.typeOptions{
    display: flex;
    align-items: center;
    height: 3vh;
    border: .3vh solid rgb(3, 37, 65);
    border-radius: 3vh;
}

.typeOptions div, .typeOptions p{
    padding-inline: 1vw;
    height: 100%;
    width: 100%;
    border-radius: 5vw;
}

.typeOptions div:hover, .typeOptions p:hover{
    color: rgb(3, 179, 227, .7);
    background-color: rgb(3, 37, 65);
}