*{
    color: rgb(3, 37, 65);
}

.contentBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 55vh;
}

.typeSec{
    display: flex;
    align-items: center;
    margin-left: 10vw;
}

.type{
    margin-inline: 2vw;
}

.typeOptions{
    display: flex;
    align-items: center;
    height: 3vh;
    border: .3vh solid rgb(3, 37, 65);
    border-radius: 3vh;
    overflow: hidden;
}

.typeOptions div, .typeOptions p{
    padding: 2vw;
    height: 100%;
    width: 100%;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.typeOptions div:hover, .typeOptions p:hover{
    background-color: rgb(3, 179, 227, .7);
}